In [ ]:
import pandas as pd

# load the dataset
data = pd.read_csv('iris.csv', header=None)                         #file doesn't have a header row.

# calculate duplicates
dups = data.duplicated()

# report if there are any duplicates
print(dups.any())

# list all duplicate rows
print(data[dups])

# shape before deleting rows of duplicate data
print(data.shape)

# delete duplicate rows from the dataset
data.drop_duplicates(inplace=True)                #inplace=True parameter---changes made to the DataFrame should be applied in place, modifying the DataFrame directly.
#                                              original DataFrame data is updated, and no new DataFrame is created. Duplicate rows are discarded, and DataFrame is modified in memory.
#                                             If inplace=False or not specified (as the default), the drop_duplicates() method returns a new DataFrame with the duplicate rows removed,
#                                                leaving the original DataFrame unchanged.

# shape after deleting rows of duplicate data
print(data.shape)

True
       0    1    2    3          4
143  5.8  2.7  5.1  1.9  Virginica
(151, 5)
(150, 5)

In [ ]:
import pandas as pd
from numpy import unique

# summarize the number of unique values for each column using numpy
# load the dataset
data = pd.read_csv('oil_spill.csv', header=None)

# summarize the number of unique values in each column
print(data.nunique())

# delete columns with a single unique value
# define the location of the dataset
print(data.shape)

# get number of unique values for each column
counts = data.nunique()

# record columns to delete
to_del = [i for i,v in enumerate(counts) if v == 1]                    # contains the indices of columns with only one unique value
print(to_del)

# drop useless columns
data.drop(to_del, axis=1, inplace=True)       #axis argument to specify columns |inplace=True to modify DataFrame in place|removes columns with a single unique value from  DataFrame.
print(data.shape)

0     238
1     297
2     927
3     933
4     179
5     375
6     820
7     618
8     561
9      57
10    577
11     59
12     73
13    107
14     53
15     91
16    893
17    810
18    170
19     53
20     68
21      9
22      1
23     92
24      9
25      8
26      9
27    308
28    447
29    392
30    107
31     42
32      4
33     45
34    141
35    110
36      3
37    758
38      9
39      9
40    388
41    220
42    644
43    649
44    499
45      2
46    937
47    169
48    286
49      2
dtype: int64
(937, 50)
[22]
(937, 49)